<div class="container">
    <h2 class="text-center my-4">Our Team</h2>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Melvin Nogoy</h5>
            <p class="card-text">Software Architect</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">John Miguel Macabagdal</h5>
            <p class="card-text">Database Admin</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Jethro Mabeza</h5>
            <p class="card-text">Software Designer</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zen Ponce De Asis</h5>
            <p class="card-text">Software Engineer</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Jonn Esternon</h5>
            <p class="card-text">Algo/Intern/Designer/UI-UX</p>
          </div>
        </div>
      </div>
    </div>
  </div>